  <div class="card">
   <div id="request<#DATAROW field='TransactionNumber'>">
    <div class="card-body">
		 <div class="row">
		  <div class="checkbox col-lg-1">
			 <input class="form-input" type="checkbox" name="TransactionSelect" title="Select this transaction" data-balanceRemaining="<#DATAROW field='BalanceRemaining' display='Numeric'>" data-totalCharge="<#DATAROW field='CurrentCharges' display='Numeric'>" value="<#DATAROW field='TransactionNumber'>" />
			</div>

      <div class="col-lg-7 col-md-12 text-left">
        <div class="card-title h4">
          <a href="aeon.dll?&Action=10&Form=63&Value=<#DATAROW field='TransactionNumber'>">
            <#DATAROW field="ItemTitle">
					</a>
        </div>

				<div class="card-subtitle h5 mb2 text-muted">
          <#DATAROW field="ItemSubtitle">
        </div>

        <div class="field text-muted">Transaction Number
          <span class="field-value font-weight-bold ml-1">
            <#DATAROW field="TransactionNumber">
          </span>
        </div>

        <div class="field text-muted">Call Number
          <span class="field-value font-weight-bold ml-1">
            <#DATAROW field="CallNumber">
          </span>
        </div>

        <div class="field text-muted">Volume/Box
          <span class="field-value font-weight-bold ml-1">
            <#DATAROW field="ItemVolume">
          </span>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 text-left">
        <div class="btn-group" role="group" aria-label="Actions for Request <#DATAROW field='TransactionNumber'>">
          <a class="btn btn-primary" role="button" href="aeon.dll?&Action=10&Form=63&Value=<#DATAROW field='TransactionNumber'>">
            <span aria-hidden="true" class="fa fa-info-circle mr-1"></span>Details</a>

            <button id="btnGroupDrop<#DATAROW field='TransactionNumber'>" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Actions
						</button>

            <div class="dropdown-menu" aria-labelledby="btnGroupDrop<#DATAROW field='TransactionNumber'>">
              <a class="dropdown-item btn btn-light ViewFile <#DATAROW field='RequestActionAllowed' name='ViewFile' disabledValue='disabled'>" href="aeon.dll?Action=10&amp;Form=75&amp;Value=<#DATAROW field='TransactionNumber'>">
                <span aria-hidden="true" class="fas fa-eye text-info mr-2"></span>View Item</a>
              <a class="dropdown-item btn btn-light Edit <#DATAROW field='RequestActionAllowed' name='Edit' disabledValue='disabled'>" href="aeon.dll?Action=20&amp;Form=63&amp;Value=<#DATAROW field='TransactionNumber'>">
                <span aria-hidden="true" class="fas fa-edit text-primary mr-2"></span>Edit Request</a>
							<a class="dropdown-item btn btn-light Cancel <#DATAROW field='RequestActionAllowed' name='Cancel' disabledValue='disabled'>" href="aeon.dll?Action=21&amp;Form=10&amp;Value=<#DATAROW field='TransactionNumber'>">
								<span aria-hidden="true" class="fas fa-ban text-danger mr-2"></span>Cancel Request</a>
						</div>
					</div>

          <div class="field text-muted mr-1">Format
            <span class="field-value font-weight-bold">
              <#DATAROW field="Format">
            </span>
					</div>

          <div class="field text-muted mr-1">Service Level
            <span class="field-value font-weight-bold">
              <#DATAROW field="ServiceLevel">
            </span>
          </div>

          <div class="field text-muted mr-1">Shipping
            <span class="field-value font-weight-bold">
              <#DATAROW field="ShippingOption">
            </span>
          </div>

          <div class="field text-muted mr-1">Payments
            <span class="field-value font-weight-bold ">
              <#DATAROW field="PaymentTotal" Display="Currency">
            </span>
          </div>

          <div class="field text-muted mr-1">Balance Due
            <span class="field-value font-weight-bold">
              <#DATAROW field="BalanceRemaining" Display="Currency">
            </span>
          </div>
          
			  </div>
			 </div>
     </div>
   </div>
</div>
