<div class="card">
	<div id="request<#DATAROW field='TransactionNumber'>">
    	<div class="card-body">
			<div class="row">
				<div class="col-lg-8 col-md-12 text-muted">
				  	<div class="h4 card-title">
						<a href="aeon.dll?&Action=10&Form=63&Value=<#DATAROW field='TransactionNumber'>"><#DATAROW field="ItemTitle"></a>
						<span class="text-muted"><#DATAROW field="ItemDate"></span>
					</div>
					<div class="card-subtitle h5 mb2 text-muted"><#DATAROW field="ItemSubtitle"></div>
				 </div>

      			<div class="col-lg-4 col-md-12 text-right">
			  		<div class="btn-group" role="group" aria-label="Actions for Request <#DATAROW field='TransactionNumber'>">
						<a class="btn btn-primary menuViewItemFile <#DATAROW field='RequestActionAllowed' name='ViewItemFile' disabledValue='disabled'>" href="aeon.dll?Action=10&amp;Form=75&amp;Value=<#DATAROW field='TransactionNumber'>" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="File Size: <#DATAROW field='FileSize'>">View</a>
						<a class="btn btn-secondary menuDeleteItemFile <#DATAROW field='RequestActionAllowed' name='DeleteItemFile' disabledValue='disabled'>" href="aeon.dll?Action=22&amp;Type=11&amp;Value=<#DATAROW field='TransactionNumber'>">Delete</a>
						<div class="btn-group" role="group">
							<button id="btnGroupDrop<#DATAROW field='TransactionNumber'>" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Actions
							</button>
						  	<div class="dropdown-menu" aria-labelledby="btnGroupDrop<#DATAROW field='TransactionNumber'>">
							  	<a class="dropdown-item text-info btn btn-light"  role="button" href="#collapseRequest<#DATAROW field='TransactionNumber'>"><span class="fa fa-info-circle text-info mr-1"></span>Details</a>
								<a class="dropdown-item btn btn-light menuEdit <#DATAROW field='RequestActionAllowed' name='ViewItemFile' disabledValue='disabled'>" href="aeon.dll?Action=10&amp;Form=75&amp;Value=<#DATAROW field='TransactionNumber'>"><span aria-hidden="true" class="fas fa-eye text-primary mr-1"></span>View Item</a>
								<a class="dropdown-item btn btn-light menuEdit <#DATAROW field='RequestActionAllowed' name='Cancel' disabledValue='disabled'>" href="aeon.dll?Action=21&amp;Type=10&amp;Value=<#DATAROW field='TransactionNumber'>"><span aria-hidden="true" class="fas fa-ban text-danger mr-1"></span>Cancel Request</a>
							  	<a class="dropdown-item btn btn-light menuClone <#DATAROW field='RequestActionAllowed' name='RequestCopy' disabledValue='d-none'>" href="aeon.dll?Action=11&amp;Form=32&amp;Value=<#DATAROW field='TransactionNumber'>"><span aria-hidden="true" class="fas fa-copy text-primary mr-1"></span>Clone Request</a>
							  	<a class="dropdown-item btn btn-light menuPhotoduplication <#DATAROW field='RequestActionAllowed' name='CloneToCopy' disabledValue='d-none'>" href="aeon.dll?Action=11&amp;Form=33&amp;Value=<#DATAROW field='TransactionNumber'>"><span aria-hidden="true" class="fas fa-cart-plus text-primary"></span>Clone to Copy</a>
								<a class="dropdown-item btn btn-light menuExportRIS" href="aeon.dll?Action=10&amp;Form=121&amp;Value=<#DATAROW field='TransactionNumber'>"> <span aria-hidden="true" class="fas fa-download text-primary mr-1"></span>Export Citation</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-7 col-md-12"></div>
				<div class="col-lg-5 col-md-12 text-right">
					<span id="Tooltip_ItemStatus_<#DATAROW field='TransactionNumber'>" class="d-none" role="tooltip">
						Moved to <#DATAROW field="TransactionStatus"> on <span class="convert-local" data-iso8601="<#DATAROW field='TransactionDate' display='ISO8601'>"><#DATAROW field="TransactionDate"></span>
					</span>
					<div class="mb2 text-muted" data-toggle="tooltip" data-placement="right" data-titleElement="#Tooltip_ItemStatus_<#DATAROW field='TransactionNumber'>">
						Item Status<span class="field-value font-weight-bold ml-1"><#DATAROW field="TransactionStatus"></span>
					</div>
					<span id="Tooltip_OrderStatus_<#DATAROW field='TransactionNumber'>" class="d-none" role="tooltip">
						Moved to <#DATAROW field="PhotoduplicationStatus"> on <span class="convert-local" data-iso8601="<#DATAROW field='PhotoduplicationDate' display='ISO8601'>"><#DATAROW field="PhotoduplicationDate"></span>
					</span>
					<div class="field mb2 text-muted" data-toggle="tooltip" data-placement="right" data-titleElement="#Tooltip_OrderStatus_<#DATAROW field='TransactionNumber'>">
						Order Status<span class="field-value font-weight-bold ml-1"><#DATAROW field="PhotoduplicationStatus"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
